{% extends 'base.html' %}

{% block content %}

<h1>DETAIL</h1>
<hr>
<h2>{{ article.title }}</h2>
<p>{{ article.content }}</p>
<p>작성일: {{ article.created_at }}</p>
<p>수정일: {{ article.updated_at }}</p>

<div>
  <a class="text-decoration-none" href="{% url 'articles:edit' article.pk %}">
    <button class="p-0 border-0 btn btn-link">EDIT</button>
  </a>
  <form class="d-inline" action="{% url 'articles:delete' article.pk %}" method="POST">
    {% csrf_token %}
    <button class="p-0 border-0 btn btn-link">DELETE</button>
  </form>
</div>
<a href="{% url 'articles:index' %}">BACK</a>
{% endblock content %}